body {
    background: linear-gradient(to right, blue, darkblue);
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    background: linear-gradient(to left, blue, darkblue);
    padding: 50px;
    display: inline;;
    display: inline-block;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    width: 30%;
}

a:hover {
    opacity: 0.7;
}