body {
    color: white;
}

div {
    width: 45%;
    display: inline-block;
    background: linear-gradient(to left, blue, darkblue);
    border-radius: 10px;
    padding: 30px 0 30px 0;
    margin-right: 4%;
    height: 220px;
    padding-top: 5px;
    margin-bottom: 15px;
}

p {
    font-size: 13px;
    margin-left: 5px;
    margin-top: 0px;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, blue, darkblue);
}

img {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 3px solid rgb(158, 158, 250);
    padding: 50px 50px 20px 10px;
    border-radius: 10px;
    margin-bottom: 3px;
    background-color: white;
}

h4 {
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
}
