<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>titulo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

    <body>
        {% for img, tit, des in produtos %}
            <div>
                <img src={{img}} />
                <h4>{{tit}}</h4>
                <p>{{des}}</p>
            </div>
        {% endfor %}
                                          
    </body>

</html>
